<body>
    <ul>
        <li>The Lecturer ID must have 4 characters</li>
        <li>The Lecturer Name should be a minimum of 5 characters</li>
        <li>The Dept must be be 4 characters</li>
    </ul>
    <h1>Add Lecturer</h1>
    <form action="/addLecturer" method="POST">
    <label>Lecturer ID:</label>
    <input type="text" name="_Lid"><br>
    <label>Name:</label>
    <input type="text" name="_name"><br>
    <label>Deptartment:</label>
    <input type="text" name="_dept"><br>
    <input type="submit" value="OK">
    </form>
    <td><a href="/">home</a></td>
    
</body>